@import 'home';
@import 'header';




html {
    background-color: #07406B;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #07406B;
    margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07406B;

  h4 {
    color: white;
    
  }

  link {
    text-decoration: none;
    list-style: none;
  }

  a:visited { text-decoration: none; color:red; }
  a:hover { text-decoration: none; color:blue; }
  a:focus { text-decoration: none; color:yellow; }
  a:hover, a:active { text-decoration: none; color:black }

  button {
    text-decoration: none;
  }
}


  
  
  
  
  
  