.quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

    .qualityHero {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;

        img {
            width: 100%;
        }
    }

    .iso {
        padding-top: 40px;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .isoImage {
            display: flex;
            align-items: center;
            width: 45%;

            img {
                width: 100%;
            }
        }
        
        .isoText {
            width: 45%;
            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                color:  #07406B;
                font-size: 36px;
            }

            p {
                color:  #07406B;
                font-size: 27px;
            }
        }
    }

    .precisionBanner {
        width: 80%;
        background-color: #279FEA;
        display: flex;
        

        h2 {
            font-size: 36px;
            color: white;
            padding-left: 15%;
        }
    }

    .instruments {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5%;

    

        .keyence {
            padding-top: 5%;
            padding-bottom: 5%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            
        
            
            .keyenceText {
                width: 50%;

                h2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:  #07406B;
                    font-size: 36px;
                }
    
                p {
                    color:  #07406B;
                    font-size: 27px;
                }
            }

            .keyenceImage {
                width: 50%;
                
                img {
                    width: 100%;
                    padding-left: 5%;
                }
            }
        
        }
        .cmm {
            padding-bottom: 5%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            
        
            
            .cmmText {
                width: 50%;

                h2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:  #07406B;
                    font-size: 36px;
                }
    
                p {
                    color:  #07406B;
                    font-size: 27px;
                }
            }

            .cmmImage {
                width: 50%;
                
                img {
                    width: 100%;
                    padding-left: 5%;
                }
            }
        
        }

        .measureLink {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding-bottom: 5%;
            
        
            
            .measureLinkText {
                width: 50%;

                h2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color:  #07406B;
                    font-size: 36px;
                }
    
                p {
                    color:  #07406B;
                    font-size: 27px;
                }
            }

            .measureLinkImage {
                width: 50%;
                
                img {
                    width: 100%;
                    padding-left: 5%;
                }
            }
        
        }


    }

    @media screen and (max-width: 1200px) {
        .qualityHero {
            width: 100%;
            img{
                width: 100%;
            }
        }
        .iso {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;

            .isoImage{
                width: 80%;
            }
            .isoText {
                width: 80%;

                h2 {
                    font-size: 32px;
                }

                p {
                    font-size: 22px;
                }
            }
        }
        .precisionBanner{
            width: 100%;
            // display: flex;
            // justify-content: center;
        }
        .instruments{
            width: 90%;
            display: flex;
            justify-content: center;
            .keyence{
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .keyenceImage {
                    width: 90%;
                    img{
                        padding-left: 0;
                    }
                    
                }
                .keyenceText{
                    width: 90%;
                    
                    h2 {
                        font-size: 32px;
                    }
                    p {
                        font-size: 20px;
                    }
                    
                }
                    
            }
            .cmm {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .cmmImage {
                    width: 90%;
                    img{
                        padding-left: 0;
                    }
                    
                }
                .cmmText{
                    width: 90%;
                    h2 {
                        font-size: 32px;
                    }
                    p {
                        font-size: 20px;
                    }
                    
                }
            }
            .measureLink {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                .measureLinkImage {
                    width: 90%;
                    img{
                        padding-left: 0;
                    }
                    
                }
                .measureLinkText{
                    width: 90%;
                    h2 {
                        font-size: 32px;
                    }
                    p {
                        font-size: 20px;
                    }
                    
                }
            }
        }
    }    
    
    @media screen and (max-width: 800px ) {
        .precisionBanner {
            
            display: flex;
            justify-content: center;

            h2 {
                padding-left: 0;
            }
        }
    }
}